.workArea {
    display: flex;
    margin: 1vh;
    margin-top: 10vh;
    height: 80vh;
    justify-content: center;
    align-items: center;
}

.imageField {
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px,
        rgba(6, 24, 44, 0.65) 0px 4px 6px -1px,
        rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
    border-radius: 3px;
    margin: 10px;
}
canvas {
    padding: 0px;

    width: 100%;
    height: 100%;
}


#hist_link {
    position: absolute;
    top: 40px; left: 40px;
}